html, body
{
	background : white;
	color : black;
	font-family : DejaVu Sans, Verdana, sans-serif;
	font-size : 12px;
	text-align : center;
}

#content
{
	width : 750px;
	margin : 0 auto;
}

#left
{
	float : left;
	text-align : left;
	width : 200px;
}

#right
{
	float : right;
	width : 520px;
	margin-top : 20px;
	margin-left : 30px;
	text-align : justify;
}

#menu
{
	margin-top : 50px;
	padding-left : 0px;
}

#bottom
{
	margin-top : 50px;
	border-top : 1px solid gray;
	font-size : 9px;
	color : gray;
	text-align : center;
}

.cleaner
{
	clear : both;
}

img
{
	border : none;
}

pre
{
	margin : 0px;
	padding : 20px;
	font-family : fixed;
	background : #abc;
	border : 1px solid black;
}

h1
{
	color : #3771C8;
	text-align : center;
}

h2
{
	color : #3771C8;
	border-bottom : 1px solid #aaa;
}

h3
{
	color : #3771C8;
	text-align : right;
	margin : 0px;
	padding : 2em 0px 0px 0px;
}

.figure
{
	text-align : center;
	background : #ccc;
	padding : 10px 0;
	margin : 10px 0;
}

.figure img 
{

}


.umlclass
{
	margin : 10px 0;
}

.umlclass .name
{
	text-align : center;
	color : white;
	background : #3771C8;
	font-size : 1.1em;
	font-weight : bold;
}

.umlclass .desc
{
	text-align : center;
	font-weight : bold;
	background : #ddd;
}

.umlclass .sign
{
	color : #00F;
}

.umlclass .cont
{
	background : #eee;
}

.umlclass .atrdesc
{
	color : #333;
	background : #ddd;
}

.fright
{
	float : right;
}

p.question
{
	background : #3771C8;
	color : white;
	padding : 4px;
	margin-bottom : 0;
}

p.answer
{
	margin-top : 0;
	border-right : 1px solid #aaa;
	border-left : 1px solid #aaa;
	border-bottom : 1px solid #aaa;
	padding : 4px;
}
