<h1>Autor</h1>


<img class="fright" src="figures/jaaa.png" alt="Martin Kopta" /> <p>Projekt
metodo2 navrhl, implementoval a otestoval Martin 'dum8d0g' Kopta jako
semestrální práci z předmětu <a
href="http://amun.felk.cvut.cz/x36www/index.php">X36WWW</a> na <a
href="http://www.cvut.cz/">ČVUT</a> <a href="http://fel.cvut.cz/">FEL</a>.
</p>

<p>Pokud z nějakého důvodu potřebujete autora kontaktovat, použijte prosím
kontaktní informace na jeho <a href="http://martin.kopta.eu/">osobních
stránkách</a>.</p>

