<h1>Databáze</h1>

<p> Databáze projektu metodo2 je obsahuje pouze čtyři tabulky. První slouží pro
uchovávání dat o registrovaných uživatelích. Je nazvána 'Users' a obsahuje
jejich přihlašovací jména, zahashovaná hesla, jejich ID a některé informace,
které může využít administrátor při potřebě kontaktu uživatele. Druhá tabulka je
tabulka uchovávající úkoly všech zaregistrovaných uživatelů a je nazvána
'Todos'. Je propojena s tabulkou uživatelů přes cizí klíč 'u_idusr', obsahuje
informaci o relaci s uživatelem 't_done', která určuje zda je úkol hotový (1)
nebo není (0). Samozřejmě také uchovává text samotného úkolu a nepovinně datum
vložení úkolu a jeho termín. Povinně pak ještě prioritu úkolu. Další dvě tabulky
'Labels' a 'Labeled' uchovávají informace o tom, jaký úkol má jaký
popisek/popisky (Labeled) a samotné texty popisků (Labels). Zde hrají hlavní
roli cizí klíče 'i_idtodo' a 'i_idlabel' (Labeled), které "sešívají" popisek a
úkol.</p>

<p>Při vývoji a testování byla použita databáze MySQL verze 5.0.68. Uvedené
přikazy nemusí fungovat na jiných databázových strojích jako Oracle nebo
PostgreSQL, nicméně zásahy pro zprovoznění by měly být minimální.</p>


<h2>Entity relationship model</h2>

<p>Následující obrázek představuje způsob uložení dat v projektu metodo2.
Znázorněny jsou entity, relace, kardinality, atributy a jejich povinnost a
klíče.</p>

<img src="figures/erm.png" alt="Entity relationship model" />

<p>Toto schéma bylo vytvořeno pomocí programu <a
href="http://service.felk.cvut.cz/courses/X36DBS/nastroje_er_modelar.html">
E-R Modelář</a> (v4.23). K dispozici dávám <a href="data/erm.xml">xml soubor
schématu</a>. Následuje skript pro vytvoření databáze vyprodukovaný E-R
Modelářem a ručně upravený o kódování a některé MySQL zvyklosti.
</p>

<h3>SQL příkazy pro vytvoření databáze</h3>
<pre>
CREATE TABLE Users (
      idusr INTEGER NOT NULL AUTO_INCREMENT,
      username CHAR(255) CHARACTER SET utf8 COLLATE utf8_bin NOT NULL,
      passhash CHAR(255) NOT NULL,
      contact CHAR(255) CHARACTER SET utf8 COLLATE utf8_bin NULL,
      firstname CHAR(255) CHARACTER SET utf8 COLLATE utf8_bin NULL,
      lastname CHAR(255) CHARACTER SET utf8 COLLATE utf8_bin NULL,
      note CHAR(255) CHARACTER SET utf8 COLLATE utf8_bin NULL,
      CONSTRAINT UNQ_Users_1 UNIQUE (username),
      CONSTRAINT PK_Users PRIMARY KEY (idusr)
);
CREATE TABLE Labels (
      idlabel INTEGER NOT NULL AUTO_INCREMENT,
      text CHAR(255) CHARACTER SET utf8 COLLATE utf8_bin NOT NULL,
      CONSTRAINT PK_Labels PRIMARY KEY (idlabel),
	  CONSTRAINT UNQ_Labels_1 UNIQUE (text)
);
CREATE TABLE Todos (
      t_done INTEGER NOT NULL,
      u_idusr INTEGER NOT NULL,
      idtodo INTEGER NOT NULL AUTO_INCREMENT,
      priority INTEGER NOT NULL,
      enteredDATE Date NULL,
      deadline DATE NULL,
      text CHAR(255) CHARACTER SET utf8 COLLATE utf8_bin NOT NULL,
      CONSTRAINT PK_Todos PRIMARY KEY (idtodo)
);
CREATE TABLE Labeled (
      i_idtodo INTEGER NOT NULL,
      l_idlabel INTEGER NOT NULL,
      CONSTRAINT UNQ_Labeled_1 Unique (i_idtodo, l_idlabel)
);
ALTER TABLE Todos ADD (
      CONSTRAINT FK_Todos_1 FOREIGN KEY (u_idusr) References Users(idusr)
);

ALTER TABLE Labeled ADD (
      CONSTRAINT FK_Labeled_1 FOREIGN KEY (i_idtodo) References Todos(idtodo),
      CONSTRAINT FK_Labeled_2 FOREIGN KEY (l_idlabel) References Labels(idlabel)
);
</pre>



<h2>SQL dotazy</h2>
<p>Tyto SQL dotazy jsou použity v projektu metodo2 v adresáři 'classes' v souboru
'cDatabase.php'.</p>

<h3>Autorizace</h3>
<pre>
SELECT passhash
FROM Users
WHERE username='demo';
</pre>


<h3>Vytvoření nového uživatele</h3>
<p>Hesla se ukládají zahashovaná pomocí php funkce sha1</p>
<pre>
INSERT INTO Users SET 
	idusr = '',
	username = 'demo',
	passhash = 'fe01ce2a7fbac8fafaed7c982a04e229',
	firstname = 'John',
	lastname = 'Doe',
	contact = 'demo@example.org';
</pre>

<h3>Kontrola existence daného uživatele v databázi</h3>
<pre>
SELECT username
FROM Users
WHERE username='demo';
</pre>


<h3>Přidání nového úkolu</h3>
<p>Vypočítávání ID sice není dobré, ale přišlo mi to zajímavější
než použití php funkce pro zjišťování posledního ID. Algoritmus
přidávání nejprve vypočte ID nového úkolu, vloží jej, poté vloží
všechny popisky (které ještě nejsou v tabulce Labels) a poté oba
výsledky 'sešije' v tabulce Labeled. Dotazy 'INSERT' pro přidání
popisků jsou vytvořeny php cyklem přes pole vkládaných popisků.</p>
<pre>
START TRANSACTION;
SELECT @IDT:=MAX(idtodo)+1 FROM Todos;
SELECT @IDU:=idusr FROM Users WHERE username="demo";
INSERT INTO Todos VALUES (
	'0', @IDU, @IDT, '3', '2008-10-10',
	'2008-11-11', 'Text of todo'
);
INSERT IGNORE INTO Labels VALUES ('', 'label1');
INSERT IGNORE INTO Labels VALUES ('', 'label2');
INSERT IGNORE INTO Labels VALUES ('', 'label3');
INSERT IGNORE INTO Labels VALUES ('', 'label4');
INSERT INTO Labeled VALUES (
	@IDT, 
	(SELECT idlabel FROM Labels WHERE text='label1')
);
INSERT INTO Labeled VALUES (
	@IDT, 
	(SELECT idlabel FROM Labels WHERE text='label2')
);
INSERT INTO Labeled VALUES (
	@IDT, 
	(SELECT idlabel FROM Labels WHERE text='label3')
);
INSERT INTO Labeled VALUES (
	@IDT, 
	(SELECT idlabel FROM Labels WHERE text='label4')
);
COMMIT;
</pre>


<h3>Suma nehotových úkolů</h3>
<pre>
SELECT COUNT(idtodo) as x
FROM Todos t JOIN Users u ON t.u_idusr=u.idusr
WHERE t.t_done='0' AND u.username='demo';
</pre>


<h3>Získání všech úkolů daného uživatele</h3>
<p>Pokud nějaký úkol má více popisků (labels), je uveden vícekrát 
(opakuje se na několika řádcích) a mění se sloupec 'label'</p>
<pre>
SELECT
 t_done, idtodo, priority, enteredDATE,
 deadline, t.text, l.text AS label
FROM Todos t
LEFT JOIN (
	SELECT i_idtodo, text
	FROM Labeled JOIN Labels ON l_idlabel = idlabel
) l ON l.i_idtodo=t.idtodo
WHERE u_idusr = (
	SELECT idusr
	FROM Users
	WHERE username='demo'
)
ORDER BY idtodo DESC;
</pre>


<h3>Nastavení hesla pro uživatele</h3>
<p>Hesla se ukládají zahashovaná pomocí php funkce sha1</p>
<pre>
UPDATE Users SET 
passhash = 'fe01ce2a7fbac8fafaed7c982a04e229'
WHERE username = 'demo';
</pre>


<h3>Změna stavu úkolu (hotový/nehotový)</h3>
<p>Pro hotový stačí psát 't_done=1', pro nehotový pak 't_done=0'.</p>
<pre>
UPDATE Todos
SET t_done = 1
WHERE idtodo = 37
AND u_idusr = (
	SELECT idusr
	FROM Users
	WHERE username='demo'
);
</pre>



<h3>Odstranění úkolu</h3>
<p>Při odstraňování úkolů se odstraňují také všechny popisky, které nejsou využíté
(nemají referenci)</p>
<pre>
BEGIN;
DELETE FROM Todos   WHERE idtodo=37;
DELETE FROM Labeled WHERE i_idtodo=37;
DELETE FROM Labels  WHERE idlabel NOT IN (SELECT l_idlabel FROM Labeled);
/* OR THIS  (this can be faster, but not so readable)
DELETE FROM Labels
LEFT JOIN Labeled ON l_idlabel=idlabel
WHERE i_idtodo IS NULL;\n"; */
COMMIT;
</pre>


<h3>Získání všech úkolů s danou prioritou</h3>
<p>Priorita se pohybuje od jedné do pěti</p>
<pre>
SELECT
  t_done, idtodo, priority, enteredDATE,
  deadline, t.text, l.text AS label
FROM Todos t
LEFT JOIN (
       SELECT i_idtodo, text
       FROM Labeled JOIN Labels ON l_idlabel = idlabel
) l ON l.i_idtodo=t.idtodo
WHERE u_idusr = (
	SELECT idusr
	FROM Users
	WHERE username='demo'
)
AND priority=3;
</pre>


<h3>Získání všech popisků (labels) daného uživatele</h3>
<pre>
SELECT
l.idlabel AS id, l.text AS text
FROM Todos t
LEFT JOIN (
       SELECT i_idtodo, text, idlabel
       FROM Labeled JOIN Labels ON l_idlabel = idlabel 
) l ON l.i_idtodo=t.idtodo 
WHERE u_idusr = ( 
	SELECT idusr 
	FROM Users 
	WHERE username='demo'
)
AND NOT l.text IS NULL
GROUP BY l.idlabel;
</pre>


<h3>Získání všech hotových úkolů</h3>
<pre>
SELECT
  t_done, idtodo, priority, enteredDATE,
  deadline, t.text, l.text AS label
FROM Todos t
LEFT JOIN (
       SELECT i_idtodo, text
       FROM Labeled JOIN Labels ON l_idlabel = idlabel
) l ON l.i_idtodo=t.idtodo
WHERE u_idusr = (
	SELECT idusr
	FROM Users
	WHERE username='demo'
)
AND t_done=1;
</pre>



<h3>Obnovení ukázkového účtu</h3>
<p>Obnovení probíhá při odhlášení testovacího uživatele. Pokud však bude více lidí
přihlášeno na tento testovací účet a jeden se odhlásí, všem ostatním se změní data
za běhu. To je špatně a je potřeba to opravit pomocí buď dočasných tabulek nebo 
pomocí zámku</p>
<pre>
BEGIN; 
DELETE FROM Users   WHERE username='demo'; 
DELETE FROM Todos   WHERE u_idusr  NOT IN (SELECT idusr     FROM Users); 
DELETE FROM Labeled WHERE i_idtodo NOT IN (SELECT idtodo    FROM Todos); 
DELETE FROM Labels  WHERE idlabel  NOT IN (SELECT l_idlabel FROM Labeled); 
COMMIT; 
/* + create user, + add sample data */
</pre>


<h3>Ověří existenci úkolu s daným ID</h3>
<p>Tento dotaz by měl předcházet několika následujícím dotazům</p>
<pre>
SELECT t.idtodo
FROM Todos t
WHERE t.idtodo=37
AND t.u_idusr=(
	SELECT idusr 
	FROM Users
	WHERE username='demo'
);
</pre>



<h3>Získá všechny popisky pro úkol s daným ID</h3>

<pre>
SELECT text
FROM Labels lb 
JOIN Labeled ld 
ON lb.idlabel = ld.l_idlabel
WHERE i_idtodo = 37;
</pre>


<h3>Získá prioritu úkolu s daným ID</h3>

<pre>
SELECT t.priority 
FROM Todos t 
WHERE t.idtodo=37;
</pre>


<h3>Získá časový limit úkolu s daným ID</h3>

<pre>
SELECT t.deadline
FROM Todos t 
WHERE t.idtodo=37;
</pre>


<h3>Získá text úkolu s daným ID</h3>
<pre>
SELECT t.text
FROM Todos t
WHERE t.idtodo=37;
</pre>


<h3>Získání všech úkolů daného uživatele s daným popiskem</h3>
<p>Získá všechny úkoly, které mají ALESPOŇ daný popisek.</p>
<pre>
SELECT
  t_done, idtodo, priority, enteredDATE,
  deadline, t.text, l.text AS label
FROM Todos t
LEFT JOIN (
	SELECT i_idtodo, text
	FROM Labeled JOIN Labels ON l_idlabel = idlabel
) l ON l.i_idtodo=t.idtodo
WHERE u_idusr = (
	SELECT idusr
	FROM Users
	WHERE username='demo'
)
AND idtodo IN (
	SELECT i_idtodo
	FROM Labeled 
	WHERE l_idlabel=37
);
</pre>
