<h1>FAQ</h1>

<p class="question">
Pod jakou licencí je projekt distribuován?
</p>

<p class="answer">
Licence ještě nebyla specifikována, ale pokud to půjde, bude to nějaká z licencí
schválená společností Open Souce Initiative.
</p>

<p class="question">
Kde si můžu stáhnout zdrojové kódy nutné pro instalaci metodo2?
</p>

<p class="answer">
<a href="http://martin.kopta.eu/trash/wiki/doku.php/semwww">Na stránkách projektu</a>.
</p>

<p class="question">
Objevil jsem chybu, co mám dělat?
</p>

<p class="answer">
Nebojte se a reportujte chybu autorovi. Čím více relevantních údajů přiložíte,
tím lépe.
</p>

<p class="question">
Jaký je stav vývoje projektu?
</p>

<p class="answer">
Po vydání stabilní verze 1.0 jsou jen opravovány chyby. Implementace nových
vlastností nejsou autorem plánovány. Nicméně, v případě, že chcete projekt
rozšířit o nějaké další schopnosti, můžete vyjít z principu open source.
</p>

<p class="question">
Používá autor projekt metodo2?
</p>

<p class="answer">
Ne, autor si myslí, že nejlepší způsob na uchovávání úkolů je textový editor <a
href="http://www.vim.org">vim</a> a plain text soubor.
</p>

<p class="question">
Byla tato semestrální práce úspěšná?
</p>

<p class="answer">
Doufejme, že ano ;-)
</p>

