<h1>Obsluha formulářů</h1>

<p>
V aplikaci se nachází celkem čtyři formuláře, do kterých uživatel může zadat
nějaká data a interagovat se samotnou aplikací.</p>
<ol>
	<li>Přihlašovací formulář</li>
	<li>Registrační formulář</li>
	<li>Formulář pro přidání a modifikaci úkolu</li>
	<li>Formulář pro změnu hesla</li>
</ol>

<p>
Všecha data odesílaná z formulářů jsou kontrolována na nějaké podmínky. V
případě, že uživatel má zapnutý javascript ve svém prohlížeči, jsou data
kontrolována ještě před odesláním a uživatel je visuálními efekty upozorněn na
chybná data. Některé vstupy však javascriptem kontrolovat nelze. Například ve
formuláři s registrací je potřeba kontrolovat zda uživatelské jméno není
obsazeno. Pro tuto kontrolu je potřeba se zeptat databáze, tedy znát údaje
potřebné pro vstup do databáze. Tyto údaje však nemohou být umístěny v
uživatelsky čitelném javascriptu  a proto ne všechna data jsou kontrolována
javascriptem. Takové kontroly provádí aplikace na straně serveru. Také v
případě, že uživatel ve svém prohlížeci javascript nemá (spuštěný,
nainstalovaný, implementovaný, ..) jsou všechny kontroly prováděny na straně
serveru pomocí PHP. Platí, že všechny kontroly dokáže zastat PHP samo a
javascript provádí jen určitou podmnožinu těchto kontrol. I přesto však
kontrolování formulářů javascriptem vede ke zpříjemnění používání aplikace.
</p>

<h2>Přihlašovací formulář</h2>
<p>Tento formulář vyžaduje pouze vyplněná všechna pole. Nic jiného není potřeba.
Vzhledem k tomu, že v aplikaci se smí vyskytovat jen hesla delší tří znaků a
uživatelská jména o alespoň dvou znacích (a maximálně 32) z množiny {[a-z],
[A-Z], [0-9], _, -}, je možné provádět kontroly na tyto informace. Ale protože
uživatel vyplňující data do přihlašovacího formuláře je již zaregistrován a jeho
uživatelské jméno a heslo splňuje dané požadavky (protože prošel registrací),
bude vyplňovat data, která tyto podmínky splňují a není je potřeba kontrolovat.
V případě, že je uživatel stejně zadá (i přesto, že to není vůbec racionální),
aplikace bude postupovat standartním způsobem a pokusí se se zadanými daty
uživatele přihlásit.</p>

<h2>Registrační formulář</h2>
<p>Registrační formulář je největší a nejsložitější formulář v celé aplikaci.
Skládá se ze tří částí:</p>
<ul>
	<li>Uživatelské jméno a heslo</li>
	<li>Osobní informace</li>
	<li>Antispamová ochrana</li>
</ul>
<p>První část a třetí část je povinná, druhá nepoviná. V části s uživatelským
jménem a heslem se kontrolují již zmíněné podmínky samozřejmě pro eliminaci
překlepů je potřeba heslo zadat dvakráte. Ve druhé části může uživatel zadat
téměř libovolná data. Neslouží totiž nijak k řízení aplikace. Slouží pouze
administrátorovi k případnému usnadnění kontaktu uživatele v případě potřeby.
Třetí část obsahuje ochranu proti spamovacím robotům. Její uspěšné vyplnění
vyžaduje pokročilou inteligenci a tak celkem spolehlivě vyřadí všechny
spamovací roboty.</p>

<h2>Formulář pro přidání a modifikaci úkolů</h2>
<p>Tento formulář umožňuje registrovaným a přihlášeným uživatelům přidávat nové
a modifikovat staré úkoly. Políčko s popisky není kontrolováno, uživatel můžete
zadat cokoli a tato data budou rozdělena podle vyskytujících se čárek (pokud
nebou žádné čárky, bude jen jeden popisek). Vstupní data jsou také ořezávána na
bílá místa zleva i zprava a pokud jsou prázdná tak se zahazují. Pole pro zadaní
textu úkolu je potřeba vyplnit alespoň jedním znakem.</p>


<h2>Formulář pro změnu hesla</h2>
<p>Tento jednoduchý formulář vyžaduje vyplnění všech tří polí, přičemž vyžaduje,
aby poslední dvě měly stejný obsah (eliminace překlepů) a byly alespoň čtyři
znaky dlouhé (vynucení alespoň minimální bezpečnosti). První pole je pak
kontrolováno na straně serveru.</p>

