<h1>Funkčnost</h1>

<p>Metodo2 svým uživatelům nabízí mnoho funkcí. První, se kterou uživatel běžně
přijde do styku je přihlášení. Metodo2 umožňuje separovat data různých uživatelů
a povoluje k nim přístup na základě ověření identity vlastníka pomocí
uživatelského jména a hesla. Hesla jsou v celé aplikaci hashována
kryptograficky bezpečnou hashovací funkcí a uživatel se tak nemusí bát
prozrazení svého hesla. Dokonce ani administrátor systému na kterém metodo2
beží, nedokáže přečíst uživatelská hesla v originální nezahashované podobě.
Přihlášení probíhá celkem intuitivně. Uživatel zadá do přihlašovacího formuláře
uživatelské jméno a heslo a stiskne tlačítko na odeslání formuláře. Pokud se
aplikace rozhodne, že uživatel je uživatelem registrovaným a je správné, aby se
stal v tomto okamžiku uživatelem přihlášeným, učiní tak.</p>

<p>Pro získání uživatelského účtu musí uživatel projít registrací na stránce s
registrací. Registrace vyžaduje především vybrání neobsazeného uživatelského
jména, hesla a úspěšné vyplnění antispamového testu, který má za úkol ochránit
aplikaci před spamovacími roboty. V případě špatných vstupu během registrace je
uživatel upozorněn. Jakmile je registrační formulář dobře vyplněn, pokusí se
aplikace s obdrženými daty vytvořit nový uživatelský účet, vložit do něj
uvítací úkoly a uživatele automaticky do nově vytvořeného účtu přihlásit.</p>

<p>Po úspěšném přihlášení do aplikace získá uživatel hlavní stránku, jež je
rozdělena na kontrolní (vlevo) a datovou část (vpravo). Zde uživatel může
provést akci odhlášení, vytvořit žádost o změnu hesla, přidat nový úkol,
filtrovat úkoly podle kritéria, prohlížet si vyobrazené úkoly, měnit je, mazat
je a označovat jako hotové (případně nehotové). Uživatel je graficky upozorněn
na úkoly s blížícím se nebo prošlým termínem. Většina zmíněných akcí je dostupná
pomocí hypertextových odkazů, které vyvolají odpovídající akci v aplikaci.</p>

<p>Na stránce se změnou hesla si může uživatel změnit své stávající heslo na
nové. Je však nutné, aby znal své heslo předchozí a dvakráte (pro eliminaci
překlepů) zadal heslo nové. V případě, že se uživateli nedaří změnit své heslo,
může zkusit kontaktovat administrátora, který dokáže nastavit uživateli nějaké
dočasné heslo.</p>
