<h1>Instalace</h1>


<p>Instalace metodo2 je celkem jednoduchá. Pro zprovoznění metodo2 na Vašem
počítači (serveru) je však potřeba mít funkční webový server, databázový engine
a interpreter jazyka PHP. Metodo2 je vyvinuto a testováno nad webovým serverem
Apache Httpd 2.2.11 a databázovým enginem MySQL 5.0.68 a PHP 5.2.7. Zprovoznění
na jiných serverech by však neměl být nepřekonatelný problém.</p>

<p>V případě, že máte připravený zmíněný serverový software, vyberte adresář, ve
kterém bude metodo2 nainstalováno a ke kterému bude možno přistupovat přes
webové rozhraní. Do něj nakopírujte balík s metodo2 a rozbalte. Metodo2 je
dodáváno jako archiv typu 'zip' a 'tar.bz2' a 'tar.gz'. Pro rozbalení (na Unix
like systémech) použijte jeden z následujících příkazů:</p>

<pre>
unzip metodo2-1.0.zip
tar xjf metodo2-1.0.tar.bz2
tar xzf metodo2-1.0.tar.gz
</pre>

<p>
Nyní bychom měli mít adresář 'metodo2-1.0'. Je důležité, aby k adresáři a jeho
podadresářům měl přístup na čtení uživatel, pod kterým běží webový server. To
můžeme zajistit například příkazem:
</p>

<pre>
chown httpd:httpd -R metodo2-1.0
</pre>

<p>
Samozřejmě nahraďte username a group v příkazu za takovou z Vašeho systému, pod
kterou běží webový server.  Následně je potřeba nastavit základní údaje nutné
pro funkci metodo v konfiguračním souboru 'configuration.php'. Konfigurační
soubor si tak otevřete v libovolném textovém editoru a upravte dle potřeb.
</p>

<pre>
vim metodo2-1.0/configuration.php
</pre>

<p>
Ukázka konfiguračního souboru:
</p>

<pre>
&lt;?php
if (!defined("INDEX"))
{
	// This file is called in wrong way!
	echo "You probably don't have to be here. Please, go back.";
	die();
}

/* Timezone */
date_default_timezone_set("Europe/Prague");

/* Database connection variables */
define("DB_SERVER",   "localhost");
define("DB_DATABASE", "metodo2");
define("DB_USERNAME", "metodo2");
define("DB_PASSWORD", "metodo2");
//define("DB_PASSWORD", "badpasswd");

/* Presentation style
   Styles are in directory APP_STYLEDIR, each style has own directory,
   default style is main, when is style not defined, app will crash.
*/
define("APP_STYLEDIR","view");
define("APP_STYLE",   "main");


/* Cookie
   Defines cookie name
*/
define("COOKIE_NAME", "metodo2");

?&gt;
</pre>

<p>
Jedná se o skript jazyka PHP a proto musí mít na počátku značky '&lt;?php' a na
konci '?&gt;'. V případě porušení syntaxe jazyka PHP přestane tento konfigurační
soubor fungovat a pravděpodobně to naruší i vykonávání celé aplikace. První část
konfiguračního souboru zajišťuje primitivní ochranu proti případnému útoku.
Následuje nastavení timezone. Pro upřesnění timezone se podívejte do
dokumentace PHP. Následuje část specifikující připojení k databázi, která je
víceméně samovysvětlující. Pak následuje možnost nastavení adresáře obsahující
témata, která obsahují šablony, kaskádové styly a javascripty. V případě
potřeby můžete obsah adresáře 'view/main' zkopírovat jako například
'view/mystyle' a pozměnit šablony, styly a další. Také lze nadefinovat jméno
použité sušenky. Ve většině případů jej ale nebudete potřebovat měnit.
</p>

<p>
Nyní je potřeba vytvořit databázové schéma. Předpokládám, že již máte nastavený
uživatelský učet ve Vaší databázi, který bude metodo používat. Nyní je potřeba
spustit skript pro vytvoření databázového schématu (více se dozvíte a stránce
dokumentace s popisem databáze). Pro spouštění a správu MySQL doporučuji
minimalistický projekt <a
href="http://phpminadmin.sourceforge.net/">phpMinAdmin</a> nebo poněkud
rozsáhlejší phpMyAdmin.
</p>

<pre>
CREATE TABLE Users (
      idusr INTEGER NOT NULL AUTO_INCREMENT,
      username CHAR(255) CHARACTER SET utf8 COLLATE utf8_bin NOT NULL,
      passhash CHAR(255) NOT NULL,
      contact CHAR(255) CHARACTER SET utf8 COLLATE utf8_bin NULL,
      firstname CHAR(255) CHARACTER SET utf8 COLLATE utf8_bin NULL,
      lastname CHAR(255) CHARACTER SET utf8 COLLATE utf8_bin NULL,
      note CHAR(255) CHARACTER SET utf8 COLLATE utf8_bin NULL,
      CONSTRAINT UNQ_Users_1 UNIQUE (username),
      CONSTRAINT PK_Users PRIMARY KEY (idusr)
);
CREATE TABLE Labels (
      idlabel INTEGER NOT NULL AUTO_INCREMENT,
      text CHAR(255) CHARACTER SET utf8 COLLATE utf8_bin NOT NULL,
      CONSTRAINT PK_Labels PRIMARY KEY (idlabel),
	  CONSTRAINT UNQ_Labels_1 UNIQUE (text)
);
CREATE TABLE Todos (
      t_done INTEGER NOT NULL,
      u_idusr INTEGER NOT NULL,
      idtodo INTEGER NOT NULL AUTO_INCREMENT,
      priority INTEGER NOT NULL,
      enteredDATE Date NULL,
      deadline DATE NULL,
      text CHAR(255) CHARACTER SET utf8 COLLATE utf8_bin NOT NULL,
      CONSTRAINT PK_Todos PRIMARY KEY (idtodo)
);
CREATE TABLE Labeled (
      i_idtodo INTEGER NOT NULL,
      l_idlabel INTEGER NOT NULL,
      CONSTRAINT UNQ_Labeled_1 Unique (i_idtodo, l_idlabel)
);
ALTER TABLE Todos ADD (
      CONSTRAINT FK_Todos_1 FOREIGN KEY (u_idusr) References Users(idusr)
);

ALTER TABLE Labeled ADD (
      CONSTRAINT FK_Labeled_1 FOREIGN KEY (i_idtodo) References Todos(idtodo),
      CONSTRAINT FK_Labeled_2 FOREIGN KEY (l_idlabel) References Labels(idlabel)
);
</pre>

<p>
Nyní je ještě potřeba přidat testovacího uživatele. Proveďte následující SQL
dotaz a poté se na účet přihlaste (username: demo, password: demo). Uvidíte
prázdný seznam úkolů, odhlašte se a přihlašte se znovu na ten samý účet. Nyní
bude plný ukázkových dat. (Při odhlášení dojde k vyčištění a reinicializaci
ukázkového účtu).
</p>

<pre>
INSERT INTO Users VALUES (
	'',
	'demo',
	'89e495e7941cf9e40e6980d14a16bf023ccd4c91',
	NULL,
	NULL,
	NULL,
	'demo account'
);
</pre>


<p>
Pokud Vám všechny kroky úspěšně prošly, mělo být Vaše instalace metodo2 plně
funkční.
</p>
