<h1>Funkční požadavky</h1>

<p>Metodo má umožňovat následující:</p>

<ul>
	<li>Přístup přes web pomocí webového browseru</li>
	<li>Rozlišení uživatelských rolí</li>
	<li>Registraci nového uživatele</li>
	<li>Bezpečné ukládání uživatelských hesel</li>
	<li>Kontrolu vstupních dat (formuláře)</li>
	<li>Přihlašování uživatelů</li>
	<li>Změnu hesla</li>
	<li>Odhlášení</li>
	<li>Výpis všech úkolů přihlášeného uživatele</li>
	<li>Vyjádření priority, data zadání, termínu, popisků a splněnosti u každého
	úkolu ve výpisu úkolů</li>
	<li>Odstranění úkolu</li>
	<li>Označení úkolu jako splněný</li>
	<li>Označení úkolu jako nesplněný</li>
	<li>Změnu vybraného úkolu (termín, priorita, popisky, text)</li>
	<li>Přidání nového úkolu</li>
	<li>Zobrazení podmnožiny úkolů podle zadaného kritéria (filtry)</li>
	<li>Uložení dat v databázi</li>
	<li>Nemožnost přečtení uživatelských dat nesprávným uživatelem</li>
	<li>Prezentaci aplikace testovacím 'demo' účtem</li>
	<li>Resetování demo účtu po každém jeho použití</li>
	<li>Persistentní user interface (filtry v cookie)</li>
</ul>
