<h1>Uživatelské role</h1>

<p>Aplikace nabízí jen dvě uživatelské role. Jedna je pro nepřihlášené
uživatele a druhá pro přihlášené. V&nbsp;aplikaci není žádná superuživatelská
role. Případné odebírání uživatelů, změna hesla uživateli, čištění databáze
a&nbsp;další administrátorské úkony jsou natolik jednoduché a&nbsp;vyjímečné,
že není potřeba pro ně mít samostatné rozhraní. Administrátor by si měl plně
vystačit při administraci aplikace s&nbsp;příkazovou řádkou mysql
a&nbsp;dokumentací MySQL databáze a&nbsp;s touto dokumentací.</p>

<p>Nepřihlášený uživatel se dotýká aplikace jen ze strany dokumentace,
registrace a&nbsp;přihlašovací obrazovky. Má možnost nahlédnout do podoby
aplikace jak jí vidí registrovaný uživatel pomocí testovacího účtu 'demo'. Takto
se může uživatel rychle rozhodnout, zda aplikace splňuje jeho očekávání
a&nbsp;má smysl se registrovat a&nbsp;získat vlastní, plnohodnotný účet.  </p>


<p>Přihlášený uživatel má stejné možnosti jako uživatel nepřihlášený. Navíc
k&nbsp;tomu vlastní svůj vlastní účet, který má unikátní přihlašovací jméno
a&nbsp;přístup k&nbsp;němu je ověřován pomocí hesla, jež by správně měl znát
pouze vlastník účtu. Má plné právo manipulovat se svými daty schopnostmi
aplikace. Data mu po odhlášení zůstávají uložena v&nbsp;databázi a&nbsp;může se
k&nbsp;nim vrátit při dalším přihlášení.</p>

<p>Registrovaný ani neregistrovaný uživatel nemají v&nbsp;žádném případě právo
(ani možnost) nahlížet do dat náležejících jiným uživatelům (vyjma testovacího
účtu) ani je měnit. Žádný uživatel nemůže žádným způsobem znemožnit používání
aplikace jinému uživateli.</p>
