<h1>Hlavní rysy</h1>

<p>Metodo je objektově programované v jazyce PHP5 a snaží se dodržovat princip
MVC. Při startu aplikace se nejdříve nahraje konfigurace, vytvoří se instance
třídy cCookie a pokud aplikace dostala od uživatele sušenku, nastartuje řadič
ccCookieLover. Pokud aplikace sušenku nedostala, nastartuje řadič ccMrNoCandy.</p>

<p>Oba řadiče jsou v podstatě konečné automaty kde propadávají vstupy až se
utvoří výsledná akce a uživatel dostane nějaký výstup. Řadiče používají instance
tříd cDatabase, cCookie, cView zmíněné podrobněji níže v objektové struktuře.</p>


<h2>Adresářová a souborová struktura</h2>
<ul>
<li>
	classes/ - obsahuje hlavní engine projektu
	<ul>
	<li>controllers/ - řadiče (mvC)
		<ul>
		<li>ccSkeleton.php - kostra řadiče, dědí všechny řadiče</li>
		<li>ccCookieLover.php - řadič pro práci s přihlášeným uživatelem</li>
		<li>ccMrNoCandy.php - řadič pro práci s nepřihlášeným uživatelem</li>
		</ul>
	</li>
	<li>cCookie.php - třída pro práci se sušenkami</li>
	<li>cDatabase.php - třída pro práci s databází</li>
	<li>cView.php - třída pro práci se šablonami</li>
	</ul>
</li>
<li>
	view/ - témata, šablony, styly, javascripty a obrázky
	<ul>
	<li>
			main/ - základní visuální téma aplikace
			<ul>
				<li>cali.png - obrázek místo prázdné množiny úkolů</li>
				<li>chpasswd.css - kaskádové styly pro stránku se změnou hesla</li>
				<li>chpasswd.js - javascript pro stránku se změnou hesla</li>
				<li>chpasswd.php - šablona pro stránku se změnou hesla</li>
				<li>favico.png - ikonka stránek</li>
				<li>loginpage.css - kaskádové styly pro přihlašovací stránku</li>
				<li>loginpage.js - javascript pro přihlašovací stránku</li>
				<li>loginpage.php - šablona pro přihlašovací stránku</li>
				<li>logo.png - velké logo projektu</li>
				<li>mainpage.css - kaskádové styly hlavní stránky</li>
				<li>mainpage.js - javascript hlavní stránky</li>
				<li>mainpage.php - šablona hlavní stránky</li>
				<li>plugin.js - javascriptová funkce pro výběr všech prvků na
				stránce podle příslušnosti k css třídě</li>
				<li>prio1.png - designový prvek priority</li>
				<li>prio2.png - designový prvek priority</li>
				<li>prio3.png - designový prvek priority</li>
				<li>prio4.png - designový prvek priority</li>
				<li>prio5.png - designový prvek priority</li>
				<li>registration.css - kaskádové styly stránky s registrací</li>
				<li>registration.js - javascript stránky s registrací</li>
				<li>registration.php - šablona stránky s registrací</li>
			</ul>
	</li>
	</ul>
</li>
<li>
	doc/ - dokumentace
</li>
<li>configuration.php - konfigurace</li>
<li>index.php - startovní soubor projektu</li>
</ul>

<h2>Objektová struktura</h2>


<table class="umlclass">
<tr> <td class="name">Třída cView </td> </tr>
<tr> <td class="desc">zprostředkovává naplňování šablon daty řadičem </td> </tr>
<tr> <td class="cont">
	<table>
	<tr>
		<td class="sign">-</td>
		<td class="atr">$data</td>
		<td class="atrdesc">pole všech dat, které se předají do šablony</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">__construct()</td>
		<td class="atrdesc">kontruktor třídy, pouze inicializuje prázdné pole $data</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">set($key, $value)</td>
		<td class="atrdesc">přidá do pole $data další data</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">show($template)</td>
		<td class="atrdesc">naplní požadovanou šablonu daty a zobrazí výstup</td>
	</tr>
	</table>
</td> </tr>
</table>


<table class="umlclass">
<tr> <td class="name">Třída cCookie</td> </tr>
<tr> <td class="desc">umožňuje práci se sušenkami</td> </tr>
<tr> <td class="cont">
	<table>
	<tr>
		<td class="sign">-</td>
		<td class="atr">$username</td>
		<td class="atrdesc">jméno uživatele</td>
	</tr>
	<tr>
		<td class="sign">-</td>
		<td class="atr">$passhash</td>
		<td class="atrdesc">zahashované heslo uživatele</td>
	</tr>
	<tr>
		<td class="sign">-</td>
		<td class="atr">$filter_by</td>
		<td class="atrdesc">nastavení filtru</td>
	</tr>
	<tr>
		<td class="sign">-</td>
		<td class="atr">$filter_id</td>
		<td class="atrdesc">nastavení filtru</td>
	</tr>
	<tr>
		<td class="sign">-</td>
		<td class="atr">$filter_lv</td>
		<td class="atrdesc">nastavení filtru</td>
	</tr>
	<tr>
		<td class="sign">-</td>
		<td class="atr">$validity</td>
		<td class="atrdesc">'true' v případě, že je sušenka v pořádku
		(neobsahuje nečekané klíče)</td>
	</tr>
	<tr>
		<td class="sign">-</td>
		<td class="atr">$isGiven</td>
		<td class="atrdesc">'true' v případě, že existuje sušenka s $cookieName</td>
	</tr>
	<tr>
		<td class="sign">-</td>
		<td class="atr">$cookieName</td>
		<td class="atrdesc">jméno sušenky se kterou se pracuje</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">__contruct($cookiename)</td>
		<td class="atrdesc">kontruktor třídy, vyresetuje privátní proměnné a
		zjistí zda existuje sušenka s $cookiename</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">isGiven()</td>
		<td class="atrdesc">vrátí 'true' pokud existuje sušenka s $cookieName
		existuje</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">read()</td>
		<td class="atrdesc">přečte sušenku s $cookieName a rozhodne zda je v
		pořádku</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">saveCookie()</td>
		<td class="atrdesc">uloží sušenku pod $cookieName</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">deleteCookie()</td>
		<td class="atrdesc">vymaže sušenku (všechny) s $cookieName</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">clearfilters()</td>
		<td class="atrdesc">zahodí obsah privátních proměnných $filter_by,
		$filter_id, $filter_lv</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">isValid()</td>
		<td class="atrdesc">vrátí 'true' pokud načtená sušenka je v pořádku</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">getUsername()</td>
		<td class="atrdesc">vrátí hodnotu privátní proměnné $username</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">getPasshash()</td>
		<td class="atrdesc">vrátí hodnotu privátní proměnné $passhash</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">getFilterBy()</td>
		<td class="atrdesc">vrátí hodnotu privátní proměnné $filter_by</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">getFilterId()</td>
		<td class="atrdesc">vrátí hodnotu privátní proměnné $filter_id</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">getFilterLv()</td>
		<td class="atrdesc">vrátí hodnotu privátní proměnné $filter_lv</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">setUsername($username)</td>
		<td class="atrdesc">vloží hodnotu $username do privátní proměnné
		$username</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">setPasshash($passhash)</td>
		<td class="atrdesc">vloží hodnotu $passhash do privátní proměnné
		$passhash</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">setFilterBy($val)</td>
		<td class="atrdesc">vloží hodnotu $val do privátní proměnné $filter_by</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">setFilterId($val)</td>
		<td class="atrdesc">vloží hodnotu $val do privátní proměnné $filter_id</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">setFilterLv($val)</td>
		<td class="atrdesc">vloží hodnotu $val do privátní proměnné $filter_lv</td>
	</tr>
	</table>
</td> </tr>
</table>


<table class="umlclass">
<tr> <td class="name">Třída cDatabase</td> </tr>
<tr> <td class="desc">zprostředkovává práci s databází</td> </tr>
<tr> <td class="cont">
	<table>
	<tr>
		<td class="sign">-</td>
		<td class="atr">$db</td>
		<td class="atrdesc">objekt mysqli komunikující s DB</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">$isError</td>
		<td class="atrdesc">'true' pokud se nepodařilo navázat spojení s DB</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">__contruct( $server, $username, $password, $database )</td>
		<td class="atrdesc">vytvoří objekt mysqli, který uloží do $db, připojí
		se k DB a v případě neúspěchu naplní $isError hodnotou 'true'. V případě
		úspěchu nastaví výchozí kódování.</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">__destruct()</td>
		<td class="atrdesc">pokud není $isError 'true', odpojí se od DB</td>
	</tr>
	<tr>
		<td class="sign">-</td>
		<td class="atr">todayDate()</td>
		<td class="atrdesc">vrátí aktuální čas ve tvaru Y-m-d</td>
	</tr>
	<tr>
		<td class="sign">-</td>
		<td class="atr">safestring($query)</td>
		<td class="atrdesc">vrátí vstupní hodnotu ošetřenou pro vstup do DB</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">checkAuth( $username, $passhash )</td>
		<td class="atrdesc">ověří uživatelské jméno a heslo vzhledem k DB</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">createUser( $username, $passhash, $fistname, $lastname,
		$contact )</td>
		<td class="atrdesc">registruje nového uživatele do DB</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">userExists( $username )</td>
		<td class="atrdesc">ověří zda zadaný uživatel existuje v DB</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">addTodo( $author, $priority, $deadline, $text, $labels )</td>
		<td class="atrdesc">přidá nový úkol do DB</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">addDoneTodo()</td>
		<td class="atrdesc">přidá nový úkol do DB, označený jako hotový</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">getPendingTodosSum( $username )</td>
		<td class="atrdesc">vrátí počet nehotových úkolů daného uživatele</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">getAllTodos( $username )</td>
		<td class="atrdesc">vrátí všechny úkoly daného uživatele</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">setPass( $username, $passhash )</td>
		<td class="atrdesc">nastaví uživateli nové heslo</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">setTodoState( $username, $idtodo, $state )</td>
		<td class="atrdesc">nastaví stav úkolu na hotové / nehotové</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">removeTodo( $username, $idtodo )</td>
		<td class="atrdesc">odstraní úkol</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">getAllTodosWithPriority( $username, $priority )</td>
		<td class="atrdesc">vrátí všechny úkoly daného uživatele, které mají
		danou prioritu</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">getAllLabels ( $username )</td>
		<td class="atrdesc">vrátí všechny uživatelem použité popisky</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">getAllTodosDone ( $username, $done )</td>
		<td class="atrdesc">vrátí všechny hotové ($done = 1) / nehotové ( $done
		= 0 ) úkoly daného uživatele</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">restoreDemoAccount()</td>
		<td class="atrdesc">zahodí všechna data uživatele 'demo' a znovu nahraje
		ukázková data</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">todoExists( $username, $idtodo )</td>
		<td class="atrdesc">vrátí 'true' pokud daný úkol existuje</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">getTodoLabels( $idtodo )</td>
		<td class="atrdesc">vrátí všechny popisky vztahující se k danému úkolu</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">getTodoPriority ( $idtodo )</td>
		<td class="atrdesc">vrátí prioritu daného úkolu</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">getTodoDeadline( $idtodo )</td>
		<td class="atrdesc">vrátí termín daného úkolu (pokud jej nemá, vrátí
		prázdný řetězec)</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">getTodoText( $idtodo )</td>
		<td class="atrdesc">vrátí text úkolu</td>
	</tr>
	<tr>
		<td class="sign">+</td>
		<td class="atr">getTodosWithLabel( $username, $idlabel )</td>
		<td class="atrdesc">vrátí všechny úkoly s daným popiskem</td>
	</tr>
	</table>
</td> </tr>
</table>
