<h1>Uživatelské rozhraní</h1>

<h2>Přihlašovací stránka</h2>
<p>Přihlašovací stránka je první stránka, které se zobrazí nepřihlášenému
uživateli při přístupu k aplikaci metodo2. Obsahuje přihlašovací formulář pro
zadání přihlašovacího jména a hesla, logo projektu a stručné informace s odkazy
na dokumentaci, registraci a administrátora.</p>
<div class="figure">
<img src="figures/ui01.png" alt="Přihlašovací stránka" />
</div>
<p>V případě špatně vyplněného přihlašovacího formuláře je uživatel dotázán o
další vstup a jsou mu předloženy problémy, které při odesílání dat nastaly.</p>
<div class="figure">
<img src="figures/ui02.png" alt="Chyba při přihlašování" />
</div>

<h2>Hlavní stránka</h2>
<p>Hlavní stránku vidí registrovaný uživatel po přihlášení. Je rozdělena na dvě
logické části. Kontrolní prvky (vlevo) a data (vpravo). V kontrolní části je pak
vidět opět logo projektu, informace o počtu nedokončených úkolů, odkazy pro
změnu hesla a odhlášení, dále pak formulář pro přidávání a změnu úkolů. Nakonec
pak pole s filtry v podobě hypertextových odkazů.</p>
<div class="figure">
<img src="figures/ui03.png" alt="Hlavní stránka" width="500px" />
</div>
<p>Formulář pro přidávání a modifikaci úkolů umožňuje uživateli zadat prioritu
úkolů od jedné do pěti, termín úkolu v rozmezí aktuálního dne až dne za dvacet
let po jednotlivých dnech. Dále pak popisky úkolu a samotný text úkolu.</p>
<div class="figure">
<img src="figures/ui04.png" alt="Přidávání úkolů a akce" />
</div>
<p>Filtrovat úkoly lze pomocí priority (od jedné do pěti) a pomocí štítků
(k&nbsp;dispozici jsou všechny štítky, které uživatel použil). Také lze vybrat
podmnožinu všech dokončených nebo nedokončených úkolů a nakonec možnost
vyresetovat filtrování. To toiž zůstává uložené do doby odhlášení nebo tohoto
resetu.</p>
<div class="figure">
<img src="figures/ui05.png" alt="Filtry" />
</div>
<p>Ve výpisu úkolů jsou jednotlivé úkoly jasně ohraničeny. Úkol se může skládat
ze čtyř částí, nejméně pak ze tří. První část je hlavička, která obsahuje
visuálně znázorněnou prioritu úkolu, datum vložení a termín úkolu. Pod hlavičkou
může být (a nemusí) seznam všech popisků, které jsou k danému úkolu vztaženy.
Následuje část, která obsahuje text samotného úkolu. Text je buď přeškrtnutý
nebo není, podle toho zda je úkol splněn. Poslední částí jsou tři hypertextové
odkazy, které umožňují úkol změnit (vložit do formuláře pro změnu úkolu),
označit jako hotový nebo nehotový a odstranit. Úkol je podbarven červenou barvou
v případě, že má termín a ten termín je vzhledem k dnešnímu dni (podle nastavené
časové zóny v aplikaci) prošlý nebo nastane do tří dnů. To upozorňuje uživatele
na zapomenuté úkoly ještě dříve než termín vyprší.</p>
<div class="figure">
<img src="figures/ui06.png" alt="Výpis úkolů" />
</div>

<h2>Změna hesla</h2>
<p>Stránka s formulářem pro změnu hesla je k dispozici registrovaným uživatelům.
Stránka je velmi strohá a kromě loga, formuláře a patičky neobsahuje nic
víc.</p>
<div class="figure">
<img src="figures/ui07.png" alt="Změna hesla" />
</div>

<p>V případě špatně zadaných dat je uživatel upozorněn a je mu vysvětleno, kde
je chyba.</p>
<div class="figure">
<img src="figures/ui08.png" alt="Chyba při změně hesla" />
</div>

<h2>Registrace</h2>
<p>Stránka s registrací obsahuje logo, formulář pro registraci, odkaz na
dokumentaci a patičku. Registrace je rozdělena do tří částí: Uživatelské jméno a
heslo, osobní údaje a antispamová kontrola. Protože jsou položky formuláře snad
každému uživateli webu známé, je formulář koncipován směrem zhora dolů (popisky
jsou nad vstupními políčky). To snižuje náročnost pohybu očí a zvyšuje rychlost
vyplňování. Uživatel se však pravděpodobně na chvíli zastaví u části s
antispamovou kontrolou. Tam jsou na něj kladeny vyšší nároky a musí bohužel
začít přemýšlet. Naneštěstí u všech ochran proti spamu se musí nějakým způsobem
přemýšlet a místo použití známých triků jako je captcha jsem raději použil vlastní,
speciálně pro tuto aplikaci vytvořený test, který tak má vyšší šance na správné
filtrování robotů a lidí.</p>
<div class="figure">
<img src="figures/ui09.png" alt="Registrace" />
</div>
<p>Registrační formulář umí být občas docela krutý, ale uživatel by jím měl
projít jen jednou.</p>
<div class="figure">
<img src="figures/ui10.png" alt="Chyba při registraci" />
</div>
