<h1>Zadání</h1>


<p> Metodo je webová aplikace, do které se mohou uživatelé přihlásit se svým
uživatelským jménem a heslem. Získají tak přístup ke svému vyhraněnému seznamu
úkolů (todo), které mohou přidávat, odebírat, editovat, označovat jako
hotové, označovat štítky (label), používat stupně důležitosti, nastavovat
termín pro každé todo, vybírat úkoly podle různých kritérií a tak dále. Aplikace by
měla umožnit i jednoduchou registraci. Práce s aplikací by měla být zpříjemněna
pomocí javascriptu a případnou manipulací s DOMem.
</p>
