html, body
{
	background : black;
	color : white;
	font-family : DejaVu Sans, Verdana, sans-serif;
	text-align : center;
	font-size : 0.85em;
}

a
{
	color : #3771C8;
}

#content
{
	margin : 0 auto;
	width : 358px; /* logo width */
	padding-top : 20px;
	padding-bottom : 10px;
}

#form
{
	padding-top : 40px;
	padding-bottom : 20px;
	font-family : fixed;
	font-size : 1.1em;
}

#form input
{
	background : black;
	color : white;
	border : 1px solid #333;
}

#form fieldset
{
	background : black;
	color : white;
	border : 1px solid #333;
}

#infotext
{
	text-align : justify;
}

#bottom
{
	color : gray;
	text-align : center;
}

.error
{
	color : red;
}

img
{
	border : none;
}


