html, body
{
	background : white;
	color : black;
	font-family : DejaVu Sans, Verdana, sans-serif;
	font-size : 0.85em;
	text-align : center;
}

#content
{
	margin : 0 auto;
	width : 358px; /* logo width */
	padding-top : 20px;
	padding-bottom : 10px;
}

#form
{
	padding-top : 40px;
	padding-bottom : 20px;
}

#form label
{
	display : block;
}

#infotext
{
	text-align : justify;
}

#bottom
{
	color : gray;
	text-align : center;
}

.error
{
	color : red;
}

img
{
	border : none;
}



