html, body
{
	background : white;
	color : black;
	font-family : DejaVu Sans, Verdana, sans-serif;
	font-size : 0.85em;
}

#content
{
	width : 740px;
	margin : 0 auto;
}

#left
{
	border-right : 1px solid #aaf;
	width : 365px;
	float : left;
}

#left-head
{
}

#left-content
{
	padding-top  : 30px;
}

#todoform
{
	margin : 20px 0;
	text-align : left;
}

#todoform input
{
	width : 263px;
	margin-left : 40px;
}

#todoform textarea
{
	margin-left : 40px;
}

#todoform select {
	margin-top  : 5px;
	margin-left : 10px;
}

#right
{
	margin-left : 370px;
}

#bottom
{
	text-align : center;
	width : 100%;
	border-top : 1px solid #aaf;
	padding-top : 5px;
	color : #777;
}


.error
{
	color : red;
}

.cleaner
{
	clear : both;
	margin : 0;
}

img
{
	border : none;
}

/***********/

.todo
{
	border : 1px solid #ccc;
	margin : 10px 0px 10px 10px;
}

.todo .todohead
{
	background : #3771C8;
	color : white;
	height : 14px;
	font-size : 0.83em;
}

.todo .todotext
{
	background : #eee;
	padding : 5px;
}

.todo .todotext-dl
{
	background : #faa;
	padding : 5px;
}

.todo .todolabels
{
	text-align : right;
	padding-right : 5px;
	background : #eee;
	color : #3771C8;
	font-size : 0.83em;
}

.todo .todolabels-dl
{
	text-align : right;
	padding-right : 5px;
	background : #faa;
	color : #3771C8;
	font-size : 0.83em;
}

.todo .donetodotext
{
	background : #eee;
	padding : 5px;
	text-decoration : line-through;
	color : #777;
}

.todo .todoactions
{
	text-align : center;
	background : #eee;
	font-size : 0.83em;
}

.todo .todoactions-dl
{
	text-align : center;
	background : #faa;
	font-size : 0.83em;
}

.todo .todoactions a { margin-left : 30px; }
.todo .todoactions-dl a { margin-left : 30px; }

#right .haiku
{
	padding : 100px 0 0 80px;
	height : 20em;
	color : #3771C8;
	background : url('cali.png');
	background-repeat:no-repeat;
	background-position : center bottom;
}


/* EOF */
