html, body
{
	background : white;
	color : black;
	font-family : DejaVu Sans, Verdana, sans-serif;
	font-size : 0.85em;
	text-align : center;
}

#content
{
	margin : 0 auto;
	width : 358px; /* logo width */
	/*width : 500px; /* logo width */
	padding-top : 20px;
	padding-bottom : 10px;
}

#form
{
	padding-top : 20px;
	padding-bottom : 20px;
	/*font-family : fixed;*/
	text-align : left;
}

#form label 
{
	display : block;
}

#form input
{
	width : 300px;
}

#infotext
{
	text-align : justify;
}

#bottom
{
	color : gray;
	text-align : center;
}

.error
{
	color : red;
	margin : 0;
}

img
{
	border : none;
}


.needed
{
	color : blue;
}

.optional
{
}
